<header>

    <!-- <div id="search" class="search-input" style="float:left; margin-left: 86px; margin-top: 23px;">
        <table class="x-field x-table-plain x-form-item x-field-default" cellpadding="0" id="combobox-1034" style="table-layout: fixed;">
            <tbody>
                <tr id="combobox-1034-inputRow">
                    <td id="combobox-1034-labelCell" style="display:none;" valign="top" halign="left" width="105" class="x-field-label-cell">
                        <label id="combobox-1034-labelEl" for="combobox-1034-inputEl" class="x-form-item-label x-unselectable x-form-item-label-left"
                            style="width:100px;margin-right:5px;" unselectable="on"></label>
                    </td>
                    <td class="x-form-item-body " id="combobox-1034-bodyEl" colspan="3" role="presentation" style="width: 150px;">
                        <table id="combobox-1034-triggerWrap" class="x-form-trigger-wrap" cellpadding="0" cellspacing="0" style="width: 150px; table-layout: fixed;">
                            <tbody>
                                <tr>
                                    <td id="combobox-1034-inputCell" class="x-form-trigger-input-cell" style="width: 100%;">
                                        <div class="x-hide-display x-form-data-hidden" role="presentation" id="ext-gen1080"></div>
                                    </td>
                                    <td valign="top" class=" x-trigger-cell x-unselectable" style="width:17px;display:none;"
                                        id="ext-gen1079">
                                        <div class="x-trigger-index-0 x-form-trigger x-form-arrow-trigger x-form-trigger-first"
                                            role="button" id="ext-gen1078"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> -->
    
        <div id="logo" style: "float:center; margin-top 23px;">   <a href="/">
            <img src="/resources/images/logo_alegra.png" style="width: 178px">
        </a></div>
     
    <ul class="user-menu">
        <li class="help">
            <a href="http://ayuda.alegra.com/hc/es" target="_blank">Ayuda</a>
        </li>
        <li class="logout">
            <a href="https://app.alegra.com/user/log-out">Salir</a>
        </li>
    </ul>
</header>